<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/productcart.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
         <h1>Carrito de compras</h1>
    </header>
    <main>
        <section aria-label="Carrito de compras"> 
           <h1>Lista de productos en el carrito</h1> 
            <table class="cart-table">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th> 
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/imagenes/recomendacion1.jpg" alt=""></td>
                        <td>
                            <div class="text">
                               <p class="text-desc">PC GAMER MEDIA</p>
                            </div>
                        </td>
                        <td>
                            <p class="text-price">$300000.99</p>
                            <p class="text-discount">10%OFF</p>
                        </td>
                        <td>1</td>
                        <td>$300000.99</td>
                    </tr>
                </tbody>
                
                <tbody class="cart-table__body">
                    <!-- Aquí se mostrarán los productos agregados al carrito -->
                </tbody>
            </table>
            <div class="cart-coupon">
                <label for="coupon-code">Código de descuento:</label>
                <input type="text" id="coupon-code" class="cart-coupon__code" required>
                <button class="cart-coupon__apply">Aplicar</button>
            </div>
            <footer>
                <div class="cart-total" aria-live="polite">
                    <li>Total: $<span class="cart-total__amount">300000.99</span></li>
                </div>
                <a href="/">
                    <button class="cart-checkout">Finalizar compra</button>
                </a>
            </footer>
        </section>
    </main>
    
    <footer>
           <%- include('../partials/footer') %> 
    </footer>
</body>
</html>
