<!DOCTYPE html>
<html lang="es">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECNO GAMER</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
 </head>
 <body>
    <header>
         <nav class="top-header">
            <ul class="nav-1">
               <li>
                  <a href="register" title="Haga clic aquí para registrarse">Registrarse</a>
                  <a href="login" title="Haga clic aquí para iniciar sesión">Iniciar sesión</a>
                  <a href="productcart" title="Haga clic aquí para ver su carrito de compras">Carrito de compras</a>
               </li>
            </ul>
         </nav>
      <div class="media-header">
         <div class="logo">
            <img id="logo" class="w-50" src= "/imagenes/logo-1.jpg" alt="bienvenidos!" />
         </div>
         <div class="form" action="#" method="GET">
            <input type="text" placeholder="Buscar productos, marcas y más">
            <div class="submit"><i class="fa fa-search"></i></div>
            <i class="fa-regular fa-circle-user fa-beat"></i>
        </div>
      </div>   
        <nav>
         <ul class="nav-2">
           <li><a href="#">Productos</a></li>
           <li class="item"><a href="#">Arma tu Pc</a></li>
           <li class="item"><a href="#">Hadware</a></li>
           <li class="item"><a href="#">PC Armada</a></li>
           <li class="item"><a href="#">Ofertas</a></li>
         </ul>
     </nav>
    </header>
    <main>
      <img class="banner1" src="/imagenes/banner1.jpg" alt="no te pierdas de estas ofertas" />
      <h2 class="text-title">RECOMENDACIONES </h2>
      <section class="recomendados">
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion1.jpg" alt="" width="100%" /><br>
            <div class="text-detalles">
               <p class="text-price">$150.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">PC GAMER BASIC</p><br>
            </div>
         </article>
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion2.jpg" alt="" width="100%" /><br>
            <div class="text-detalles">
               <p class="text-price">$330.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">PC GAMER MEDIA</p><br>
            </div>
         </article> 
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion3.jpg" alt="" width="100%" /><br>
            <div class="text-detalles">
               <p class="text-price">$20.000</p><br>
               <p class="text-discount">25% OFF</p><br>
               <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA</p><br>
            </div>
         </article> 
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion4.jpg" alt="" width="100%" /><br>
            <div class="text-detalles">
               <p class="text-price">$27.000</p><br>
               <p class="text-discount">20% OFF</p><br>
               <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA + AURICULARES</p><br>
            </div>
         </article>
      </section>
      <h2 class="text-title">LO MAS DESTACADO</h2>
      <section class="destacados">
         <article class="articleDestacado">
            <img src="/imagenes/destacado1.jpg" alt="" width="100%" />
            <div class="text-detalles">
               <p class="text-price">$350.000</p><br>
               <p class="text-discount">25%  OFF</p><br>
               <p class="text-desc">PC GAMER ALTA CON RGB</p><br>
            </div>
         </article>
         <article class="articleDestacado">
            <img src="/imagenes/destacado2.jpg" alt="" width="100%" />
            <div class="text-detalles">
               <p class="text-price">$25.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">JOYSTICK INALAMBRICO PC</p><br>
            </div>  
         </article> 
         <article class="articleDestacado">
            <img src="/imagenes/destacado3.jpg" alt="" width="100%" />
            <div class="text-detalles">
               <p class="text-price">$14.700</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">CARGADOR PARA JOYSTICKS</p><br>
            </div>
         </article> 
         <article class="articleDestacado">
            <img src="/imagenes/destacado4.jpg" alt="" width="100%" />
            <div class="text-detalles">
               <p class="text-price">$165.999</p><br>
               <p class="text-discount">15% OFF</p><br>
               <p class="text-desc">PC GAMER BASIC</p><br>
            </div>
         </article>
      </section><br><br>

      <img
      class="banner2"
      src="/imagenes/banner2.jpg"
      alt="todos esto abajo costo!">
      <section>
         <article>
            <div>
               <button type="submit">
                  <img src="/imagenes/marca1.jpg" alt="XPG ADATA">
                </button>
            </div>
         </article>
         <article>
            <div>
               <button type="submit">
                  <img src="/imagenes/marca2.jpg" alt="NVIDIA">
                </button>
            </div>
         </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca3.jpg" alt="MSI">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca4.jpg" alt="REDRAGON">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca5.jpg" alt="THERMALTAKE">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca6.jpg" alt="WACON">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca7.jpg" alt="AMD">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/imagenes/marca8.jpg" alt="GIGABYTE">
             </button>
         </div>
      </article>
   </section>
    </main>
    <footer class="footer">
      <section class="container-button">
         <div>
            <button class="button-item">¿QUIENES SOMOS?</button>
            <button class="button-item">BOTON DE ARREPENTIMIENTO</button>
            <button class="button-item">POLITITICA DE PRIVACIDAD</button>
            <button class="button-item">VENTAS CORPORATIVAS</button>
            <button class="button-item">TERMINOS Y CONDICIONES</button>
            <button class="button-item">GARANTIAS Y DEVOLUCIONES</button>
            <button class="button-item">ATENCION AL CLIENTE</button>
        </div>
       </section>
       <section class="container-text">
         <h2 class="text-title">TIENES ALGUNA DUDA? </h2>
         <h3 class="text-title">CONTACTANOS </h3>
      </section> 
       <section class="container">
         <div class="item">
            <imput type="submit" value=""/>
            <button class="button-icons"><i class="fa-brands fa-whatsapp"></i></button>
            <imput type="text" value=""/>
            <button class="button-icons"><i class="fa-brands fa-instagram"></i></button>
            <imput type="text" value=""/>
            <button class="button-icons"><i class="fa-brands fa-facebook"></i></button>
            <imput type="text" value=""/>
            <button class="button-icons"><i class="fa-regular fa-envelope"></i></button>
            <imput type="text" value=""/>
            <button class="button-icons"><i class="fa-brands fa-x-twitter"></i></button>
         </div>
       </section>
    </footer>
 </body>
</html>