<!DOCTYPE html>
<html lang="es">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECNO GAMER</title>
    <link rel="stylesheet" href="/css/styles.css" />
 </head>
 <body>
    <header class="ml-black-bg padding">
      <img id="logo" class="w-50" src= "/public/imagenes/logo.jpg" alt="bienvenidos!" />
      <div>
       <input type="text" placeholder="Buscador"/>
       <button><i class="fa fa-search"></i></button>
      </div>
         <a href="register" title="Haga clic aquí para registrarse">Registrarse</a>
         <a href="login" title="Haga clic aquí para iniciar sesión">Iniciar sesión</a>
         <a href="productcart" title="Haga clic aquí para ver su carrito de compras">Carrito de compras</a>
      <nav id="ml-main-nav">
         <ul id="menu1">
           <li class="item">
             <a href="#">Productos</a>
           </li>
           <li class="item">
             <a href="#">Arma tu Pc</a>
           </li>
           <li class="item">
             <a href="#">Hadware</a>
           </li>
           <li class="item">
             <a href="#">PC Armada</a>
           </li>
           <li class="item">
            <a href="#">Ofertas</a>
           </li>
         </ul>
       </nav>
       <div class="burger-menu ml-lb-bg">
         <i class="fas fa-bars ml-light-text"></i>
         </div>
    </header>
    <main>
      <img
        class="banner1"
        src="/imagenes/banner1.jpg"
        alt="no te pierdas de estas ofertas"
      />
      <section>
         <h2 class="text-title">RECOMENDACIONES </h2>
         <article>
            <img src="/imagenes/recomendacion1.jpg" alt="" width="100%" />
            <p class="text-price">$150.000</p>
            <p class="text-discount">10% OFF</p>
            <p class="text-desc">PC GAMER BASIC</p>
         </article>
         <article>
            <img src="/imagenes/recomendacion2.jpg" alt="" width="100%" />
            <p class="text-price">$330.000</p>
            <p class="text-discount">10% OFF</p>
            <p class="text-desc">PC GAMER MEDIA</p>
         </article> 
         <article>
            <img src="/imagenes/recomendacion3.jpg" alt="" width="100%" />
            <p class="text-price">$20.000</p>
            <p class="text-discount">25% OFF</p>
            <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA</p>
         </article> 
         <article>
            <img src="/imagenes/recomendacion4.jpg" alt="" width="100%" />
            <p class="text-price">$27.000</p>
            <p class="text-discount">20% OFF</p>
            <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA + AURICULARES</p>
         </article>
      </section>
      <section>
         <h2 class="text-title">LO MAS DESTACADO</h2>
         <article>
            <img src="/imagenes/destacado1.jpg" alt="" width="100%" />
            <p class="text-price">$350.000</p>
            <p class="text-discount">25%  OFF</p>
            <p class="text-desc">PC GAMER ALTA CON RGB</p>
         </article>
         <article>
            <img src="/imagenes/destacado2.jpg" alt="" width="100%" />
            <p class="text-price">$25.000</p>
            <p class="text-discount">10% OFF</p>
            <p class="text-desc">JOYSTICK INALAMBRICO PC</p>
         </article> 
         <article>
            <img src="/imagenes/destacado3.jpg" alt="" width="100%" />
            <p class="text-price">$14.700</p>
            <p class="text-discount">10% OFF</p>
            <p class="text-desc">CARGADOR PARA JOYSTICKS</p>
         </article> 
         <article>
            <img src="/imagenes/destacado4.jpg" alt="" width="100%" />
            <p class="text-price">$165.999</p>
            <p class="text-discount">15% OFF</p>
            <p class="text-desc">PC GAMER BASIC</p>
         </article>
      </section>
      <img
      class="banner2"
      src="/imagenes/banner2.jpg"
      alt="todos esto abajo costo!">
      <section>
         <article>
            <div>
               <button type="submit">
                  <img src="/public/imagenes/marca1.jpg" alt="XPG ADATA">
                </button>
            </div>
         </article>
         <article>
            <div>
               <button type="submit">
                  <img src="/public/imagenes/marca2.jpg" alt="NVIDIA">
                </button>
            </div>
         </article>
      </section>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca3.jpg" alt="MSI">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca4.jpg" alt="REDRAGON">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca5.jpg" alt="THERMALTAKE">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca6.jpg" alt="WACON">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca7.jpg" alt="AMD">
             </button>
         </div>
      </article>
      <article>
         <div>
            <button type="submit">
               <img src="/public/imagenes/marca8.jpg" alt="GIGABYTE">
             </button>
         </div>
      </article>
    </main>
    <footer>
      <section>
         <div>
            <button>¿QUIENES SOMOS?</button>
         </div>
       </section>
       <section>
         <div>
            <button>BOTON DE ARREPENTIMIENTO</button>
           </div>
       </section>
       <section>
         <div>
            <button>POLITITICA DE PRIVACIDAD</button>
           </div>
       </section>
       <section>
         <div>
            <button>VENTAS CORPORATIVAS</button>
           </div>
       </section>
       <section>
         <div>
            <button>TERMINOS Y CONDICIONES</button>
           </div>
       </section>
       <section>
         <div>
            <button>GARANTIAS Y DEVOLUCIONES</button>
           </div>
       </section>
       <section>
         <div>
            <button>ATENCION AL CLIENTE</button>
           </div>
       </section>
       <section>
         <h2 class="text-title">TIENES ALGUNA DUDA? </h2>
         <h3 class="text-title">CONTACTANOS </h3>
         <div>
            <imput type="text" value=""/>
            <button><i class=""></i></button>
           </div>
       </section>
       <section>
         <div>
            <imput type="text" value=""/>
            <button><i class=""></i></button>
         </div>
       </section>
       <section>
         <div>
            <imput type="text" value=""/>
            <button><i class=""></i></button>
         </div>
       </section>
       <section>
         <div>
            <imput type="text" value=""/>
            <button><i class=""></i></button>
         </div>
       </section>
       <section>
         <div>
            <imput type="text" value=""/>
            <button><i class=""></i></button>
         </div>
       </section>
    </footer>
 </body>
</html>