/*body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  */
  body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #b8b5b5;
}

.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-wrap a {
    width: 20%;
    text-decoration: none;
    text-align: center;
    border-style:solid;
    border-width: 5px;
    border-color: #362E2D;
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 2px;
}
.menu-wrap a:hover{
  transform: scale(1.1);
  border-color: #E3311D;
}
.img-container{
  text-align: center;
  background-color: white;
}
.img-container img {
  height: 150px;
  object-fit: cover;
  padding-top: 5px;
}

ul {
    list-style-type: none;
    text-align:left;
    padding-left: 5px;
}
p{
  color: black;
}
.detail-product{
padding-bottom: 5px;
color: black;
background: linear-gradient(white,#AAACA1);
}