body{
    background-color: #1e1d1d;
    font-family: Arial, sans-serif;
}
h3{
    color:#b8b5b5;
}
.product-detail img{
    height: 350px;
    object-fit: cover;
    padding: 20px;
}
.product-detail{
    display: flex;
    justify-content:center;
    border: 2px solid #E3311D;
    border-radius: 8px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5px;
}
.botons button{
    padding: 9px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}
 .product-detail__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
} 
.botons{
    padding-left: 20px;
    position:unset;

}
.product-detail__price {
    padding-left: 20px;
}
p, span{
    color: white;

}
span{
    padding-top: 10px;
}