.signup {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(38, 38, 38);
    border-radius: 8px;
}

.signup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.signup li {
    margin-bottom: 1em;
}
.signup label[for=""],
.signup label[for=""],
.signup label[for=""]{
   display: none;
}
.signup label {
    display: block;
    font-size: 0.9em;
    color: #ffffff;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f50707;
    border-radius: 4px;
}

.signup input[type="submit"] {
    width: 100%;
    background-color: #e40808;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup input[type="submit"]:hover {
    background-color: #070707;
}
