* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  font-size: 14px;
  background-color: #1e1d1d;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1% 6% 1%;
}
header ul li {
  list-style-type: none;
}
.text-center {
  text-align: center;
}
header nav {
  font-size: 15px;
  gap: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}
nav .nav-1 {
  width: 35%;
  justify-content: space-between;
}
nav .nav-1 a{
  padding: 1.5% 7%;
  background-color: #000;
}
header ul li a{
  text-decoration: none;
  color: #fff;
}
.media-header{
  display: flex;
  gap: 44%;
  justify-content:center;
}
.media-header .logo img {
  width: 200px;
  height: 150px;
}
.media-header .form {
  display: flex;
  width: 40%;
  height: 25%;
  position: relative;
}
.media-header .form input {
  width: 100%;
  height: 40px;
  padding: 5px 2%;
  outline: none;
  border: 0;
}
.media-header .form .submit {
  outline: none;
  border: 0;
  height: 40px;
  font-size: 20px;
  padding: 8px 0 8px 20px;
  position: absolute;
  left: 90%;
  cursor: pointer;
}
nav .nav-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .nav-2 li{
  padding: 1.5% 7%;
  background-color: #ff3b3f;
}
nav .nav-2 li a{
  font-size: 100%;
}
.w-50 {
  width: 100%;
}
button{
  padding:7px;
  border: radius 5px;
  border:none;
  color: black;
  font-size:18px;
  margin-top: 5px;
  background-color: rgb(103, 101, 101);
  border: 2px solid #191919;

}
.padding {
  padding: 24px;
}

main {
  width: 100%;
  text-align: center;
  margin: 1px;
  background-color: #898989;
}
#ml-main-nav a {
  text-decoration: none;
  color: rgb(252, 6, 6);
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 50px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
  background-color: #ebebeb;
}

.text-title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-price {
  margin: 1px;
  font-size: 18px;
  display :inline ;
  width :1.2px ;
}

.text-discount {
  font-size: 16px;
}

.text-desc {
  font-size: 16px;
  margin :1px ;
  padding-left :1px ;
  display :inline ;
  width :7.2px ;
}
.banner1 {
    width: 111%;
    height: 100%;
}
.banner2 {
  width: 111%;
  height: 100%;
}
p {
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}
h1, h2 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
#menu1 .item  {
  font: arial;
  display:inline;
  padding: 0 20px;
  background-color:#1e1d1d;
}
.text-center {
  text-align: center; 
  position:relative;
  align-items: center;
  font-size: inherit;
  padding-top:15px;
  margin-top:65px;
}
.w-50 {
  width:40%;
}

.text-title {
    font-size :24px ;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-price {
    margin :1px ;
    font-size :18px ;
    display :inline ;
    width :1.2px ;
}

.text-discount {
    margin :1px ;
    font-size :10px ;
    display: inline ;
    width :7.2px ;
    text-align: center;
}

.text-desc {
    color :gray ; 
    font-size :12px;
    padding: 3px;
}
/* Tamaños Tipográficos */
p {  
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}

h1, h2, h3 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
.burger-menu {
  background-color: rgb(228, 50, 19);
  font-size: 24px;
  width: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0; /* Change margin-left to 0 */
  margin-right: auto;
  border-radius: 5px;
}

/*Main*/
.text-title{
  padding-left: 5%;
}
.text-detalles{
  margin-bottom: 10px;
  margin-top: 15px;
 }
  /*recomendados*/
.recomendados{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  

}
.articleRecomendado{
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: all 1s ease;
  border-style:solid;
  border-width: 2px;
  border-color: black;
  margin-inline: 0.7%;
}
.articleRecomendado img{
  height: 130px;
  width: 130px;
  object-fit: cover;
}
.articleRecomendado:hover{
  transform: scale(1.1);
}
 /*section destacados*/
.destacados{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
.articleDestacado{
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: all 1s ease;
  border-style:solid;
  border-width: 2px;
  border-color: black;
  margin-inline: 0.7%;

}
.articleDestacado img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  padding-top: 5px;
}
.articleDestacado:hover{
  transform: scale(1.1);
}

/*footer*/
.footer {
  text-align: center;
  background-color: #898989;
}
.footer button {
  float: none;
  display: inline-block;
}
.button-icons {
  background-color: #898989;
  border: none;
  font-size: 30px;
  padding: 10px 20px; 
}
.container {
  background-color: #898989;
  border: none;
  font-size: 15px;
  padding: 10px 20px 40px 20px
}
.container-button {
  background-color: #898989;
  border: none;
  font-size: 25px;
  padding: 15px 15px; 
}
.button-item {
  font-size: 13px;
  padding: 7px 10px 5px 5px;
  background-color: lightgray;
  font-weight: bold;
}

