html,
body {
  margin: 10px;
  font-size: 12px;
  padding: 24px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  box-sizing: border-box;
}
header {
  padding: 1.5rem;
  font-size: 14px;
  background-color: #1e1d1d;
}
.text-center {
  text-align: center;
}

.w-50 {
  width: 100%;
}

.padding {
  padding: 24px;
}

main {
  width: 90%;
  text-align: center;
  margin: 1px;
}

#ml-main-nav ul {
  list-style-type: none;
  padding-left: 1px;
}

#ml-main-nav a {
  text-decoration: none;
  color: rgb(252, 6, 6);
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 50px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
}

.text-title {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.text-price {
  margin: 1px;
  font-size: 18px;
  display :inline ;
  width :1.2px ;
}

.text-discount {
  font-size: 16px;
}

.text-desc {
  font-size: 16px;
  margin :1px ;
  padding-left :1px ;
  display :inline ;
  width :7.2px ;
}
.banner1 {
    width: 111%;
    height: 100%;
}
.banner2 {
  width: 111%;
  height: 100%;
}
p {
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}
h1, h2 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
#menu1 .item {
  font: arial;
  display:inline;
  padding: 0 20px;
  background-color: black
}
button {
    background-color: grey;
    color: black;
}



