* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  font-size: 14px;
  background-color: #1e1d1d;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1% 6% 1%;
}
header ul li {
  list-style-type: none;
}
.text-center {
  text-align: center;
}
header nav {
  font-size: 15px;
  gap: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}
nav .nav-1 {
  width: 35%;
  justify-content: space-between;
}
nav .nav-1 a{
  padding: 1.5% 7%;
  background-color: #000;
}
header ul li a{
  text-decoration: none;
  color: #fff;
}
.media-header{
  display: flex;
  gap: 44%;
  justify-content:center;
}
.media-header .logo img {
  width: 200px;
  height: 150px;
}
.media-header .form {
  display: flex;
  width: 40%;
  height: 25%;
  position: relative;
}
.media-header .form input {
  width: 100%;
  height: 40px;
  padding: 5px 2%;
  outline: none;
  border: 0;
}
.media-header .form .submit {
  outline: none;
  border: 0;
  height: 40px;
  font-size: 20px;
  padding: 8px 0 8px 20px;
  position: absolute;
  left: 90%;
  cursor: pointer;
}
nav .nav-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .nav-2 li{
  padding: 1.5% 7%;
  background-color: #ff3b3f;
}
nav .nav-2 li a{
  font-size: 100%;
}
.w-50 {
  width: 100%;
}

.padding {
  padding: 24px;
}

main {
  width: 90%;
  text-align: center;
  margin: 1px;
}
#ml-main-nav a {
  text-decoration: none;
  color: rgb(252, 6, 6);
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 50px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
  background-color: #ebebeb;
}

.text-title {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.text-price {
  margin: 1px;
  font-size: 18px;
  display :inline ;
  width :1.2px ;
}

.text-discount {
  font-size: 16px;
}

.text-desc {
  font-size: 16px;
  margin :1px ;
  padding-left :1px ;
  display :inline ;
  width :7.2px ;
}
.banner1 {
    width: 111%;
    height: 100%;
}
.banner2 {
  width: 111%;
  height: 100%;
}
p {
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}
h1, h2 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
#menu1 .item  {
  font: arial;
  display:inline;
  padding: 0 20px;
  background-color:#1e1d1d;
}
button {
  padding:10px;
  border-radius:5px;
  border:none;
  background-color: grey;
  color: black;
  font-size:18px;
}
.text-center {
  text-align: center; 
  position:relative;
  align-items: center;
  font-size: inherit;
  padding-top:15px;
  margin-top:65px;
}
.w-50 {
  width:40%;
}

.text-title {
    font-size :24px ;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-price {
    margin :1px ;
    font-size :18px ;
    display :inline ;
    width :1.2px ;
}

.text-discount {
    margin :1px ;
    font-size :12px ;
    padding-left :1px ;
    display :inline ;
    width :7.2px ;
}

.text-desc {
    color :gray ; 
    font-size :14px ;
    text-align :left ;
    margin-left :1px ;
}
/* Tamaños Tipográficos */
p {  
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}

h1, h2 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
.burger-menu {
  background-color: rgb(228, 50, 19);
  font-size: 24px;
  width: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0; /* Change margin-left to 0 */
  margin-right: auto;
  border-radius: 5px;
}
