html,
body {
  margin: 10px;
}
header {
  background-color: #1e1d1d;
}
.text-center {
  text-align: center;
}

.w-50 {
  width: 100%;
}

.padding {
  padding: 24px;
}

main {
  width: 90%;
  text-align: center;
  margin: auto;
}

#ml-main-nav ul {
  list-style-type: none;
  padding-left: 10px;
}

#ml-main-nav a {
  text-decoration: none;
  color: rgb(252, 6, 6);
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 50px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
}

.text-title {
  font-size: 24px;
}

.text-price {
  font-size: 18px;
}

.text-discount {
  font-size: 16px;
}

.text-desc {
  font-size: 16px;
}
.banner1 {
    width: 1100px;
}
.banner2 {
    width: 1100px;
}
#menu1 .item {
    font: arial;
    display:inline;
    padding-left:20px;
    padding-right:20px;
   background-color: black
}

button {
    background-color: grey;
    color: black;
}



