* {
  margin: 0px;
  padding: 0px;
}
header{
  font-size: 14px;
  background-color: #1e1d1d;
}
.media-header{
  display: flex;
  justify-content: space-around;
  /* padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%; */
  padding:10px;
}

.logo{
  width: 35%;
  margin-right: -350px;;
}
.imgLogo {
  width: 25%;
  padding-bottom: 0px;
} 
.containerSearch{ 
  height: 10vh;
  background-color:#1e1d1d;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 14px;
}
.form{
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
}
  #inputSearch{
  width: 600px;
  height: 36px;
}
.form i{
  width: 45px;
  margin-left: -50px;
}

.top-header ul{
  display: flex;
  list-style: none;
  text-align: center;
  padding-top: 20px;
}
.itemHears{
  display: flex;
  background-color: #FF3B3F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  margin-top: 8px;
  min-height: 22px;
  border-radius: 2px;
}
.itemHears a{
 text-decoration: none;
 margin-right: 4px;
 color: #1e1d1d;
}
.itemHears i{
  margin-left: 4px;
}
/* .nav-1{
 padding-right: 10px;
} */



.text-center {
  text-align: center;
}

.nav-2{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
nav .nav-2 a{
  text-decoration: none;
  color: #fff;
}
/* nav .nav-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
} */
nav .nav-2 li{
  padding: 0.8% 7%;
  background-color: #ff3b3f;
}
.item{ transition: all 0.5s ease;}
.item:hover {
  background-color: #1e1d1d;
}

.padding {
  padding: 24px;
}
button{
  /*padding:7px;*/
  border: radius 5px;
  border:none;
  color: black;
  font-size:18px;
  margin-top: 5px;
  /*background-color: rgb(103, 101, 101);*/
  border: 2px solid #191919;

}
main {
  width: 100%;
  text-align: center;
  margin: 1px;
  background-color: #191919;
}
#ml-main-nav a {
  text-decoration: none;
  color: rgb(252, 6, 6);
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 50px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

/* Fonts & Texts */
body {
  font-family: "Roboto";
  font-size: 12px;
  background-color: #ebebeb;
}

.text-title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-price {
  margin: 1px;
  font-size: 18px;
  display :inline ;
  width :1.2px ;
}

.text-discount {
  font-size: 16px;
}

.text-desc {
  font-size: 16px;
  margin :1px ;
  padding-left :1px ;
  display :inline ;
  width :7.2px ;
}
.banner1 {
    width: 100%;
    height: 100%;
}
.banner2 {
  width: 100%;
  height: 100%;
}
p {
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}
h1, h2 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
#menu1 .item  {
  font: arial;
  display:inline;
  padding: 0 20px;
  background-color:#1e1d1d;
}
.text-center {
  text-align: center; 
  position:relative;
  align-items: center;
  font-size: inherit;
  padding-top:15px;
  margin-top:65px;
}
.w-50 {
  width:40%;
}

.text-title {
    font-size :24px ;
    margin-top: 30px;
    margin-bottom: 20px;
}

.text-price {
    margin :1px ;
    font-size :18px ;
    display :inline ;
    width :1.2px ;
}

.text-discount {
    margin :1px ;
    font-size :10px ;
    display: inline ;
    width :7.2px ;
    text-align: center;
}

.text-desc {
    color :gray ; 
    font-size :12px;
    padding: 3px;
}
/* Tamaños Tipográficos */
p {  
  color :#555 ;
  font-size :12px ;
  line-height :18px ;
  margin-top :1px ;
  max-width :800px ;
  padding :20px ;
}

h1, h2, h3 {  
  color :#333 ;
  font-size :24px ;
  text-align :center ;
}
.burger-menu {
  background-color: rgb(228, 50, 19);
  font-size: 24px;
  width: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 0; /* Change margin-left to 0 */
  margin-right: auto;
  border-radius: 5px;
}

/*Main*/
main .text-title {
  padding-left: 5%;
  background-color: #ff3b3f;
}
.text-detalles{
  background: linear-gradient(white,#ff3b3f);
  padding-top: 8px ;
  height:106px
 }
  /*main section recomendados*/
.recomendados{
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  

}
.articleRecomendado{
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: all 1s ease;
  border-style:solid;
  border-width: 5px;
  border-color: black;
  margin-inline: 0.7%;
}
.articleRecomendado img{
  height: 130px;
  width: 130px;
  object-fit: cover;
}
.articleRecomendado:hover{
  transform: scale(1.1);
  border-color: #ff3b3f;
}
 /*main section destacados*/
.destacados{
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}
.articleDestacado{
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  transition: all 1s ease;
  border-style:solid;
  border-width: 5px;
  border-color: black;
  margin-inline: 0.7%
}
.articleDestacado img{
  height: 150px;
  width: 150px;
  object-fit: cover 
}
.articleDestacado:hover{
  transform: scale(1.1);
  border-color:#ff3b3f;
}
/*main section marcas*/ 

.marcas{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5%;
}
.marcas img{
  height: 50px;
  width: 100%;
  object-fit: cover;
}

/*footer*/
.footer {
  text-align: center;
  background-color: #1e1d1d;
}
.footer button {
  float: none;
  display: inline-block;
}
.button-icons {
  background-color: #898989;
  border: none;
  font-size: 30px;
  padding: 10px 20px; 
}
.container {
  background-color: #1e1d1d;
  border: none;
  font-size: 15px;
  padding: 10px 20px 40px 20px
}
.container-text {
  text-align: center;
}

.text-title {
  color: #ebebeb;
  font-family: Arial, sans-serif;
}

.container-button {
  background-color: #1e1d1d;
  border: none;
  font-size: 25px;
  padding: 15px 15px; 
}
.button-item {
  font-size: 13px;
  padding: 7px 10px 5px 5px;
  background-color:  rgb(228, 50, 19);
  font-weight: bold;
  color: white;
}
.button-icons:hover {
  background-color:rgb(228, 50, 19) ;
}
.button-item:hover {
  background-color: #1e1d1d;
}

