<header>
   <div class="media-header">
      <div class="logo">
        <img class="imgLogo" src= "/imagenes/logo-2.jpg" alt="bienvenidos!" />
      </div>
      <div class="containerSearch">
         <div class="form" action="#" method="GET">
            <input id="inputSearch" type="text" placeholder="Buscar productos, marcas y m치s" {color:white}>
           <div class="submit"><i class="fa fa-search"></i></div>     
        </div>
      </div>
      
      <nav class="top-header">
         <ul class="nav-1">
            <li class="itemHears" >
               <a href="/users/register" title="registrarse">Registrarse</a>   
               <i class="fa fa-user-plus" aria-hidden="true"></i>
            </li>
            <li class="itemHears">
              <a href="/users/login" title="sesi칩n">Iniciar sesi칩n</a>
              <i class="fa fa-user" aria-hidden="true"></i>
            </li>
            <li class="itemHears">
              <a href="productcart" title="carritoCompras">Mis compras</a>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
           </li>
         </ul>
      </nav>
   </div> 
   <section class="sectionheader">
      <nav>
         <ul class="nav-2">
         <li class="item"><a href="/products/list">Productos</a></li>
         <li class="item"><a href="#">Arm치 tu PC</a></li>
         <li class="item"><a href="#">Hardware</a></li>
         <li class="item"><a href="#">PC Armada</a></li>
         <li class="item"><a href="#">Ofertas</a></li>
         </ul>
      </nav>
   </section>  
</header>
