<header>
    <nav class="top-header">
       <ul class="nav-1">
          <li>
             <a href="register" title="Haga clic aquí para registrarse">Registrarse</a>
             <a href="login" title="Haga clic aquí para iniciar sesión">Iniciar sesión</a>
             <a href="productcart" title="Haga clic aquí para ver su carrito de compras">Carrito de compras</a>
          </li>
       </ul>
    </nav>
 <div class="media-header">
    <div class="logo">
       <img id="logo" class="w-50" src= "/imagenes/logo-1.jpg" alt="bienvenidos!" />
    </div>
    <div class="form" action="#" method="GET">
       <input type="text" placeholder="Buscar productos, marcas y más">
       <div class="submit"><i class="fa fa-search"></i></div>
       <i class="fa-regular fa-circle-user fa-beat"></i>
   </div>
 </div>   
</header>
