<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECNO GAMER</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/imagenes/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imagenes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagenes/favicon-16x16.png">
    <link rel="manifest" href="/imagenes/site.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
 </head>