<!DOCTYPE html>
<html>
<body>

<h2>Formulario de Creación/Subida de Producto</h2>

<form action="/products/create" method="POST" class="form" enctype="multipart/form-data">
  <label for="pname">Nombre del Producto:</label>
  <input type="text" id="name" name="name">
  <label for="desc">Descripción del Producto:</label>
  <input type="text" id="description" name="description">
  <label for="price">Precio del Producto:</label>
  <input type="text" id="pprice" name="price">
  <label for="image">Imaen del Producto:</label>
  <input type="file" id="image" name="image">
  <input type="submit" value="Subir">
</form> 

</body>
</html>
