<!DOCTYPE html>
<html>
<body>

<h2>Formulario de Edición de Producto</h2>

<form action="/edit_product">
  <label for="pid">ID del Producto:</label><br>
  <input type="text" id="pid" name="pid"><br>
  <label for="pname">Nombre del Producto:</label><br>
  <input type="text" id="pname" name="pname"><br>
  <label for="pdesc">Descripción del Producto:</label><br>
  <input type="text" id="pdesc" name="pdesc"><br>
  <label for="pprice">Precio del Producto:</label><br>
  <input type="text" id="pprice" name="pprice"><br>
  <input type="submit" value="Actualizar">
</form> 

</body>
</html>
