<!DOCTYPE html>
<html>
<body>
<table>
    <tr>
      <th>Nombre del producto</th>
      <th>Descripci贸n</th>
      <th>Precio</th>
    </tr>
    <tr>
      <td>Producto 1</td>
      <td>Descripci贸n del producto 1</td>
      <td>$10.99</td>
    </tr>
    <tr>
      <td>Producto 2</td>
      <td>Descripci贸n del producto 2</td>
      <td>$12.99</td>
    </tr>
    <tr>
      <td>Producto 3</td>
      <td>Descripci贸n del producto 3</td>
      <td>$9.99</td>
    </tr>
</table>
</body>
</html>
