<!DOCTYPE html>
<html>
<head>
    <title>Detalles del producto</title>
</head>
<body>
    <a href="/products/list">Listado</a>
    <div class="product-detail">
        <img src="/imagenes" alt="Imagen del producto" class="product-detail__img">
        <div class="product-detail__info">
            <p class="product-detail__title"><%= products.name %></p>
            <p class="product-detail__description"><%= products.description %></p>
            <span class="product-detail__price">$<%= products.price %></span>
            <button class="product-detail__add-to-cart">Añadir al carrito</button>
        </div>
    </div>
    
</body>
</html>
