<!DOCTYPE html>
<html lang="es">
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/public/css/styles.css" />
 <body>
      
   <%- include('../partials/header') %>
   <img class="banner1" src="/imagenes/banner1.jpg" alt="no te pierdas de estas ofertas" />
   
   <div id="carrusel">
      <!-- imagenes en formato jpg de https://fullh4rd.com.ar/ -->
      <div class="itemCarrusel" id="item1">
         <div class="tarjetasCarrusel" id="tarjeta1">
            <img src="/imagenes/carrusel1.jpg" alt="carruselImg1">
         </div>
         <div class="flechasCarrusel">
            <a href="#item3"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a href="#item2"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
       </div>
       <div class="itemCarrusel" id="item2">
         <div class="tarjetasCarrusel" id="tarjeta2">
            <img src="/imagenes/carrusel2.jpg" alt="carruselImg2">
         </div>
         <div class="flechasCarrusel">
            <a href="#item1"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a href="#item3"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
       </div>
       <div class="itemCarrusel" id="item3">
         <div class="tarjetasCarrusel" id="tarjeta3">
            <img src="/imagenes/carrusel3.jpg" alt="carruselImg3">
         </div>
         <div class="flechasCarrusel">
            <a href="#item2"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a href="#item1"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
       </div>
    </div>
   
   <main>
      <h2 class="text-title">RECOMENDACIONES </h2>
      <section class="recomendados">
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion1.jpg" alt="" /><br>
            <div class="text-detalles">
               <p class="text-price">$150.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">PC GAMER BASIC</p><br>
            </div>
         </article>
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion2.jpg" alt="" /><br>
            <div class="text-detalles">
               <p class="text-price">$330.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">PC GAMER MEDIA</p><br>
            </div>
         </article> 
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion3.jpg" alt="" /><br>
            <div class="text-detalles">
               <p class="text-price">$20.000</p><br>
               <p class="text-discount">25% OFF</p><br>
               <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA</p><br>
            </div>
         </article> 
         <article class="articleRecomendado">
            <img src="/imagenes/recomendacion4.jpg" alt="" /><br>
            <div class="text-detalles">
               <p class="text-price">$27.000</p><br>
               <p class="text-discount">20% OFF</p><br>
               <p class="text-desc">PACK:TECLADO + MOUSE + ALMUADILLA + AURICULARES</p><br>
            </div>
         </article>
         <article class="articleRecomendado">
            <img src="/imagenes/silla-gamerazureblue.jpg" alt="" /><br>
            <div class="text-detalles">
               <p class="text-price">$217.000</p><br>
               <p class="text-discount">20% OFF</p><br>
               <p class="text-desc">SILLA GAMER THUNDERX3 TC5 AZURE BLUE</p><br>
            </div>
         </article>
      </section>

      <h2 class="text-title">LO MAS DESTACADO</h2>
      <section class="destacados">
         <article class="articleDestacado">
            <img src="/imagenes/destacado1.jpg" alt="" />
            <div class="text-detalles">
               <p class="text-price">$370.000</p><br>
               <p class="text-discount">25%  OFF</p><br>
               <p class="text-desc">PC GAMER ALTA CON RGB</p><br>
            </div>
         </article>
         <article class="articleDestacado">
            <img src="/imagenes/destacado2.jpg" alt="" />
            <div class="text-detalles">
               <p class="text-price">$25.000</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">JOYSTICK INALAMBRICO PC</p><br>
            </div>  
         </article> 
         <article class="articleDestacado">
            <img src="/imagenes/destacado3.jpg" alt=""  />
            <div class="text-detalles">
               <p class="text-price">$14.700</p><br>
               <p class="text-discount">10% OFF</p><br>
               <p class="text-desc">CARGADOR PARA JOYSTICKS</p><br>
            </div>
         </article> 
         <article class="articleDestacado">
            <img src="/imagenes/destacado4.jpg" alt="" />
            <div class="text-detalles">
               <p class="text-price">$165.999</p><br>
               <p class="text-discount">15% OFF</p><br>
               <p class="text-desc">PC GAMER BASIC</p><br>
            </div>
         </article>
         <article class="articleDestacado">
            <img src="/imagenes/pc-armadaGamer.jpg" alt="" />
            <div class="text-detalles">
               <p class="text-price">$410.423</p><br>
               <p class="text-discount">15% OFF</p><br>
               <p class="text-desc">PC ARMADA AMD RYZEN5 PLUS</p><br>
            </div>
         </article>
      </section><br><br>

      <img
      class="banner2"
      src="/imagenes/banner2.jpg"
      alt="todos esto abajo costo!">

      <div class="marcasBanner">
         <ul class="listaMarcas">
            <li class="logoMarca"><img src="/imagenes/logo1.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo2.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo3.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo4.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo5.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo6.png" alt="logo de marca"></li>
            <li class="logoMarca"><img src="/imagenes/logo1.png" alt="logo de marca"></li>
         </ul>
      </div>
      <!-- <section class="marcas">
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/logo1.png" alt="XPG ADATA">
                </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca2.jpg" alt="NVIDIA">
                </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca3.jpg" alt="MSI">
               </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca4.jpg" alt="REDRAGON">
               </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca5.jpg" alt="THERMALTAKE">
               </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca6.jpg" alt="WACON">
                </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca7.jpg" alt="AMD">
               </button>
            </div>
            <div>
               <button class=marca type="submit">
                  <img src="/imagenes/marca8.jpg" alt="GIGABYTE">
               </button>
            </div>   
      </section> -->
    </main>

    <%- include('../partials/footer') %>
 </body>
</html>