<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet"  href="/css/register.css">
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
<section class="signup">
    <form action='/users/register'  class="form-container" method="POST" enctype="multipart/form-data"></form>
        <h2 class="text-title">Registrarse</h2>
        <ul>
            <li>
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Nombre de usuario" required>
            </li>
            <li>
                <label for="name">Nombre</label>
                <input type="text" name="firstname" placeholder="Nombre" required>
            </li>
            <li>
                <label for="surname">Apellido</label>
                <input type="text" name="surname" placeholder="Apellido" required>
            </li>
            <li>
                <label for="email">Correo electr칩nico</label>
                <input type="email" name="email" placeholder="tunombre@correoelectr칩nico.com" required>
            </li>
            <li>
                <label for="password">Contrase침a</label>
                <input type="password" name="password" placeholder="contrase침a" required>
            </li>
            <li>
                <label for="imagen">Foto de perfil</label>
                <input type="file" name="imagen" required>      
            </li>
            <li>
                <input type="submit" value="Registrarse">
            </li>
        </ul>
    </form>
</section>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>

